extends ../layouts/frontend


block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Mon Tableau de Bord
            p Bienvenue sur<strong>Mon APP #{foundUser.firstName} #{foundUser.lastName} !!!</strong> 
            p Vous pouvez démarrez votre analyse après avoir remplir le formulaire ci-dessous!!
             i.hand.point.down.icon
             i.hand.point.down.icon
             i.hand.point.down.icon
            